.std-section {
  /* padding-left: 70px; */
  padding-top: 100px;
  padding-bottom: 15px;
}

.std-section h1 {
  margin-bottom: 45px;
  font-size: 40px;
}

.about-section p {
  width: 80%;
  font-size: 18px;
  margin: auto;
}


@media only screen and (max-width : 664px){
  .std-section h1 {
    margin-bottom: 45px;
    font-size: 30px;
  }
}